<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- bean definitions here -->
    <bean id="baseballCoachBean"
        class="com.lov2code.ioc.xmlconfig.BaseballCoach">
    </bean>

    <bean id="trackCoachBean"
        class="com.lov2code.ioc.xmlconfig.TrackCoach">
    </bean>

</beans>

<!--The id is like an alias-->
<!--Fully qualified class name of implementation class-->